<div class="progress sticky-top">
  <div
    class="progress-bar"
    role="progress-bar"
    aria-valuenow="70"
    aria-valuemin="0"
    aria-valuemax="100"
    style="width: <%= @percentage %>%"
  ></div>
</div>

<div class="container text-white d-flex justify-content-between">
  <h1><strong><%= @show.name %></strong>, <%= @season %></h1>
  <p><%= link_to 'Back', show_path(@show), class: "btn btn-success" %></p>
</div>

<div class="episode_summary">
  <form action="/progresses/create" method="post">
    <% @show.episodes.where(season_number: @season).each do |episode| %>
    <div class="container rounded p-1 mb-1 mt-1 text-white">
      <h3><%= episode.episode_number %>. <%= episode.name %></h3>
      <div class="episode-box">
        <p id="episodeinfo"><%= strip_tags episode.description %></p>
        <div class="box">
          <label for="<%= episode.episode_number %>">
            <input
              class="episode-check"
              id="<%= episode.episode_number %>"
              name="progress[episode_id]"
              value="<%= episode.id %>"
              type="checkbox"
              onclick="checkPrevious(this);updateProgress()"
              onchange="this.form.submit()"
              <%= (@progress >= episode.episode_number) ? "checked" : "" %>
            />
            <span class="check"></span>
          </label>
        </div>
      </div>
    </div>
    <% end %>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </form>
</div>
