
<div class="card-deck show-cards">
  <div class="card-box">
    <% @reviews.each do |review| %>
      <h5 class="card-title"> <%= review.show.name %> (<%= review.show.episodes.first.airing_date.year %>)</h5>
        <%#= link_to "+", user_followed_show_path(current_user, show), method: :delete, class: "danger-btn" %>
      <div class="show-image" id="myshow-image" style="background-image: url('<%= image_path("#{review.show.name.gsub(/\s+/, "")}.jpg") %>')">
        <a href="<%= show_path(show.show) %>" class="search-link d-flex">
          <div>
            <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
            <p class="mb-0"><%= review.content %></p>
          </div>
        </a>
      </div>
    <% end %>
    </div>
  </div>
</div>
