<div class="myshow-body">
  <% if @user.progresses.empty? %>
    <% @user.followed_shows.each do |show| %>
      <div class="card-box">
        <div class="show-image" id="myshow-image" style="background-image: url('<%= image_path("#{show.show.name.gsub(/\s+/, "")}.jpg") %>')">
        </div>
        <a href="<%= show_path(show) %>" class="search-link d-flex">
          <div class="card-body">
            <h5 class="card-title"> <%= show.show.name %> (<%= show.show.episodes.first.airing_date.year %>)</h5>
              <%= link_to "+", user_followed_show_path(current_user, show), method: :delete, class: "danger-btn" %>
            </div>
            <% future_episodes = show.show.episodes.select do |episode| %>
              <% episode.airing_date > DateTime.now %>
            <% end %>
            <% past_episodes = show.show.episodes.select do |episode| %>
              <% episode.airing_date < DateTime.now %>
            <% end %>
            <div class="text-muted airing-date-text">
              <% if future_episodes.empty? %>
                <p><small>Last episode date: <%= show.show.episodes.last.airing_date.strftime("%d.%m.%Y") %></small></p>
              <% else %>
                <p><small>Last episode date: <%= past_episodes.last.airing_date.strftime("%d.%m.%Y") %></small></p>
                <p><small>Next episode date: <%= future_episodes.first.airing_date.strftime("%d.%m.%Y") %></small></p>
              <% end %>
              </div>
            </div>
          </a>
        </div>
      </div>
    <% end %>

  <% else %>
      <% @show_progress.each do |progress, episode| %>
      <div class="card-box">
        <div class="show-image" id="myshow-image" style="background-image: url('<%= image_path("#{show.show.name.gsub(/\s+/, "")}.jpg") %>')"></div>
        <div class="card-body">
          <h5 class="card-title"><%= progress.show.name %></h5>
          <p class="card-text">
            Season <%= episode[0].season_number %>
            Episode <%= episode[0].episode_number %>
          </p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
