<div class="myshow-body">
  <% @show_progress.each do |progress, episode| %>
    <div class="card-box">
      <a href="<%= show_path(progress.show) %>" class="search-link">
        <div class="my-show-image-wrapper" id="myshow-image">
          <%= image_tag("#{progress.show.name.gsub(/\s+/, '')}.jpg") %>
        </div>
        <div class="card-body">
          <div class="title-delete">
            <h5 class="card-title"><%= progress.show.name %></h5>
            <%= link_to "+", user_followed_show_path(current_user, progress.show), method: :delete, class: "danger-btn" %>
          </div>
          <% if episode.empty? || @user.progresses.empty? %>
            <p class="card-text" id="noprogress">Start tracking this show</p>
          <% else %>
            <p class="card-text season-episode">
              Season <strong><%= episode.last.season_number %></strong>
              Episode <strong><%= episode.last.episode_number %></strong>
            </p>
          <% end %>
        </div>
      </a>
    </div>
  <% end %>
</div>
