<html>
  <body>
    <%= javascript_pack_tag 'style_navbar', 'data-turbolinks-track': 'reload', defer: true %>

    <div class="landingpage">
      <div class="homepage">
      <a href="#top-rated" id="neon-big-logo">
        <h1 class="neon" data-text="U">TE<span class="flicker-fast">L</span><span            class="flicker-slow">E</span>WI<span class="flicker-fast">S</span>E</h1>
        </a>
        <h2 class="quote">Never miss an episode again</h2>

      <div class="search-bar">
        <div class="search-form-control form-group" id="landing-searchbar">
          <div class="mt-3">
            <%= form_tag shows_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control string required",
                style:"height:50px; color: rgb(112, 112, 112)",
                placeholder: "Search for a show"
              %>
              <%= button_tag(type: 'submit', class: "btn btn-flat") do
                "<i class='fas fa-search'></i>".html_safe
              end %>
            <% end %>
          </div>
      </div>
    </div>
    <div>
      <a class="signup-btn" href="users/sign_up">Sign Up</a>
    </div>
    </div>

    <div id="top-rated"></div>

    <h2 class="text-center top-rated-title">TOP RATED TV-SHOWS</h2>

    <div class="container">
      <div class="row">
        <% @shows.each do |show| %>
          <div class="col-2 mb-4 p-1">
          <a href="<%= show_path(show) %>">
            <div class="card h-100 show-card">
              <%= image_tag "#{show.name.gsub(/\s+/, "")}.jpg", class: 'card-img', class: 'show-img' %>
            </div>
          </a>
          </div>
        <% end %>
      </div>
    </div>

  </body>
</html>
