<!--
<div class="container">
  <div id="search-result" class="row">
    <% @shows.each do |show| %>
      <div class="col-2 mb-4 p-1">
        <div class="search-show card bg-dark">
          <a href="<%= show_path(show) %>">
            <%= image_tag "#{show.name.gsub(/\s+/, "")}.jpg", class: 'card-img' %>
            <div class="card-body">
              <h5 class="card-title"><%= show.name %></h3>
              <p class="card-text"><%= sanitize show.summary %></p>
            </div>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>
-->

<div class="container">
  <div class="card h-100 mb-3">
    <div class="row no-gutters">
      <% @shows.each do |show| %>
        <div class="col-md-2">
          <%= image_tag "#{show.name.gsub(/\s+/, "")}.jpg" %>
        </div>
        <div class="col-md-10">
          <div class="card-body">
            <h5 class="card-title"><%= show.name %></h5>
            <p class="card-text"><%= sanitize show.summary %></p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


<%# <script src="jquery.js"></script>
<script src="typeahead.bundle.js"></script>
<script>
  var shows = new Bloodhound({
    datumTokenizer: Bloodhound.tokenizers.whitespace,
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    remote: {
      url: '/shows/autocomplete?query=%QUERY',
      wildcard: '%QUERY'
    }
  });
  $('#query').typeahead(null, {
    source: shows
  });
</script> %>
