<!--
<div class="container">
  <% @shows.each do |show| %>
    <a href="<%= show_path(show) %>" class="search-link">
      <div class="card h-100 mb-3 search-result">
        <div class="row no-gutters">
              <div class="col-md-2">
                <%= image_tag "#{show.name.gsub(/\s+/, "")}.jpg", class: "search-img" %>
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title"><%= show.name %></h5>
                  <p class="card-text"><%= strip_tags show.summary %></p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
        </div>
      </div>
    </a>
  <% end %>
</div>
-->

<div class="container">

  <% @shows.each do |show| %>

      <div class="search-result">
        <div class="search-img">
          <a href="<%= show_path(show) %>" class="search-link">
            <%= image_tag "#{show.name.gsub(/\s+/, "")}.jpg" %></a>
        </div>

        <div class="card-body">
          <a href="<%= show_path(show) %>" class="search-link d-flex">
            <h5 class="card-title"><%= show.name %> (<%= show.episodes.first.airing_date.year %>)</h5>
            <p>Seasons: <%= show.number_of_seasons %></p>
            <% future_episodes = show.episodes.select do |episode| %>
              <% episode.airing_date > DateTime.now %>
            <% end %>
            <% past_episodes = show.episodes.select do |episode| %>
              <% episode.airing_date < DateTime.now %>
            <% end %>
            <% if future_episodes.empty? %>
              <p class="card-text"><small class="text-muted">Last episode date: <%= show.episodes.last.airing_date.strftime("%d.%m.%Y") %></small></p>
            <% else %>
              <p class="card-text"><small class="text-muted">Last episode date: <%= past_episodes.last.airing_date.strftime("%d.%m.%Y") %></small></p>
              <p class="card-text"><small class="text-muted">Next episode date: <%= future_episodes.first.airing_date.strftime("%d.%m.%Y") %></small></p>
            <% end %>

            <p><%= 'â­ ' * (show.rating.round / 2) %></p>
            <div class="search-streaming-info">
              <p id="watchon">Watch on</p>
              <div class="streaming-link">
                <% JSON.parse(show.streaming.gsub('=>', ':')).each do |service| %>
                  <p class="card-text streaming-link"><a href="<%= @streaming[service.keys[0]] = service.values[0].values[0].values[0] %>">> <%= service.keys[0] %></a></p>
                <% end %>
              </div>
            </div>
          </a>
        </div>

        <div class="search-summary">
          <p><%= show.summary %></p>
        </div>
    </div>
<% end %>
</div>
